In [11]:
import pandas as pd
from moexalgo import Ticker
from datetime import datetime, timedelta

# Рабочая версия скачивания данных для алгоритма

In [ ]:
output_df = pd.DataFrame(columns=['TRADEDATE', 'Name', 'Open', 'Close', 'Diff'])

time_i = start_time
while time_i != end_time:
    
    try:
        data_df = (
            Ticker('YNDX')
            .tradestats(date=str((time_i - timedelta(days=1)).date()), till_date=str(time_i.date()))
        )

        temp_df = (
            data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].head(1))
        temp_df['pr_open'] = (
            data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']]
            .head(1)['pr_open'].to_list()[0])
        temp_df['pr_close'] = (
            data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']]
            .tail(1)['pr_close'].to_list()[0])

        stock_df = temp_df.rename({'tradedate': 'TRADEDATE', 'ticker': 'Name', 'pr_open':'Open', 'pr_close': 'Close'}, axis=1)
        stock_df['Diff'] = stock_df['Close'] - stock_df['Open']

        output_df = pd.concat([output_df, stock_df], ignore_index=True)
        
    except:
        print('Something went wrong for', str((time_i - timedelta(days=1)).date()), str(time_i.date()))
        
    time_i = time_i + timedelta(days=1)
    
# output_name = os.path.join(dirpath, stock + '.csv')
output_name = 'YNDX.csv'
stock_df.to_csv(output_name)

# Рабочий процесс

In [16]:
stock_df = (
    Ticker('YNDX')
    .tradestats(date='2023-10-10', till_date='2023-10-11')
    .tail(1)[['tradedate', 'ticker', 'pr_open', 'pr_close']]
    .rename({'tradedate': 'TRADEDATE', 'ticker': 'Name', 'pr_open':'Open', 'pr_close': 'Close'}, axis=1)
)

temp_df = stock_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].head(1)
temp_df['pr_open'] = (
    stock_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].head(1)['pr_open'].to_list()[0])
temp_df['pr_close'] = (
    stock_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].tail(1)['pr_close'].to_list()[0])

stock_df

      TRADEDATE  Name   Close
207  2023-10-11  YNDX  2482.6

In [5]:
stocks.tradestats(date='2023-10-10').head()

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_b,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime
0,ABIO,2023-10-10,10:05:00,119.520,119.800,114.000,117.380,0.0017,45904,53480659.0,...,647,790,26741563.0,26739095.0,22932,22972,0.00,116.610,116.400,2023-10-26 15:44:37
1,ABRD,2023-10-10,10:05:00,305.600,307.400,305.600,306.600,0.0007,480,1471600.0,...,36,13,1141020.0,330580.0,372,108,0.55,306.700,306.100,2023-10-26 15:44:37
2,AFKS,2023-10-10,10:05:00,17.601,17.606,17.501,17.511,0.0003,10943,19184629.0,...,206,152,5859774.0,13324855.0,3341,7602,-0.39,17.539,17.528,2023-10-26 15:44:37
3,AFLT,2023-10-10,10:05:00,40.560,40.590,40.470,40.550,0.0004,4517,1830400.0,...,139,46,1352553.0,477847.0,3337,1180,0.48,40.530,40.500,2023-10-26 15:44:37
4,AGRO,2023-10-10,10:05:00,1200.000,1209.600,1200.000,1209.600,0.0004,5834,7036248.0,...,265,60,5784024.0,1252224.0,4795,1039,0.64,1206.300,1205.200,2023-10-26 15:44:37

In [4]:
sber.tradestats(date='2023-10-10', till_date='2023-10-18')

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_b,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime
0,SBER,2023-10-10,10:05:00,264.90,265.18,264.43,264.46,0.0001,89034,235729237.0,...,1166,1200,108558101.0,127171135.0,40995,48039,-0.08,264.81,264.72,2023-10-26 15:44:37
1,SBER,2023-10-10,10:10:00,264.46,264.50,263.80,264.25,0.0001,127733,337351653.0,...,920,1388,112969121.0,224382532.0,42771,84962,-0.33,264.13,264.10,2023-10-26 15:44:38
2,SBER,2023-10-10,10:15:00,264.26,264.95,264.12,264.94,0.0001,88051,232913970.0,...,1059,567,188526086.0,44387884.0,71267,16784,0.62,264.53,264.47,2023-10-26 15:44:38
3,SBER,2023-10-10,10:20:00,264.91,264.94,263.90,264.22,0.0001,79062,209015857.0,...,610,1085,48952344.0,160063513.0,18509,60553,-0.53,264.48,264.34,2023-10-26 15:44:39
4,SBER,2023-10-10,10:25:00,264.22,264.35,264.05,264.10,0.0000,31648,83606467.0,...,574,549,44623014.0,38983453.0,16890,14758,0.07,264.20,264.15,2023-10-26 15:44:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,SBER,2023-10-18,18:20:00,267.54,267.74,267.54,267.73,0.0000,9088,24324507.0,...,219,96,18053244.0,6271263.0,6745,2343,0.48,267.65,267.66,2023-10-26 15:27:56
724,SBER,2023-10-18,18:25:00,267.73,267.95,267.73,267.90,0.0000,25167,67412858.0,...,233,119,42038914.0,25373944.0,15695,9472,0.25,267.85,267.88,2023-10-26 15:27:57
725,SBER,2023-10-18,18:30:00,267.90,267.97,267.90,267.95,0.0000,13188,35335021.0,...,223,113,24219183.0,11115837.0,9039,4149,0.37,267.94,267.92,2023-10-26 15:27:57
726,SBER,2023-10-18,18:35:00,267.97,268.00,267.86,267.86,0.0000,11973,32081421.0,...,181,108,15352390.0,16729031.0,5729,6244,-0.04,267.98,267.92,2023-10-26 15:27:58
727,SBER,2023-10-18,18:40:00,267.90,267.93,267.62,267.69,0.0001,13137,35181725.0,...,206,235,11933270.0,23248455.0,4455,8682,-0.32,267.86,267.78,2023-10-26 15:27:58

In [8]:
sber.tradestats(date='2023-10-10', till_date='2023-10-11').tail()

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_b,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime
203,SBER,2023-10-11,18:20:00,263.23,263.24,262.89,263.08,0.0000,20456,53812377.0,...,133,341,11315182.0,42497195.0,4302,16154,-0.58,263.02,263.08,2023-10-26 15:42:50
204,SBER,2023-10-11,18:25:00,263.10,263.20,263.08,263.16,0.0000,4854,12773764.0,...,117,77,7724237.0,5049526.0,2935,1919,0.21,263.18,263.13,2023-10-26 15:42:51
205,SBER,2023-10-11,18:30:00,263.16,263.25,263.11,263.25,0.0000,6215,16356678.0,...,133,61,9530867.0,6825810.0,3621,2594,0.17,263.21,263.14,2023-10-26 15:42:52
206,SBER,2023-10-11,18:35:00,263.24,263.26,262.90,262.99,0.0000,19336,50872205.0,...,154,238,13255141.0,37617063.0,5038,14298,-0.48,263.10,263.09,2023-10-26 15:42:53
207,SBER,2023-10-11,18:40:00,263.00,263.00,262.76,262.91,0.0001,26911,70743418.0,...,177,290,15033689.0,55709729.0,5718,21193,-0.58,262.92,262.87,2023-10-26 15:42:54

In [14]:
stock_df = sber

      tradedate ticker  pr_close
207  2023-10-11   SBER    262.91

In [44]:
data_df = (
    Ticker('YNDX')
    .tradestats(date='2023-10-10', till_date='2023-10-11')
)

    TRADEDATE  Name    Open   Close
0  2023-10-10  YNDX  2477.6  2482.6

In [38]:
stock_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']]

      tradedate ticker  pr_open  pr_close
0    2023-10-10   YNDX   2477.6    2463.2
207  2023-10-11   YNDX   2482.6    2482.6

    tradedate ticker  pr_open  pr_close
0  2023-10-10   YNDX   2477.6    2482.6

In [45]:
temp_df = data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].head(1)
temp_df['pr_open'] = (
    data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].head(1)['pr_open'].to_list()[0])
temp_df['pr_close'] = (
    data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].tail(1)['pr_close'].to_list()[0])
temp_df

stock_df = temp_df.rename({'tradedate': 'TRADEDATE', 'ticker': 'Name', 'pr_open':'Open', 'pr_close': 'Close'}, axis=1)
stock_df['Diff'] = stock_df['Close'] - stock_df['Open']
stock_df

    TRADEDATE  Name    Open   Close  Diff
0  2023-10-10  YNDX  2477.6  2463.2 -14.4

In [46]:
data_df = (
    Ticker('YNDX')
    .tradestats(date='2023-10-10', till_date='2023-10-11')
)

temp_df = data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].head(1)
temp_df['pr_open'] = (
    data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].head(1)['pr_open'].to_list()[0])
temp_df['pr_close'] = (
    data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].tail(1)['pr_close'].to_list()[0])
temp_df

stock_df = temp_df.rename({'tradedate': 'TRADEDATE', 'ticker': 'Name', 'pr_open':'Open', 'pr_close': 'Close'}, axis=1)
stock_df['Diff'] = stock_df['Close'] - stock_df['Open']
stock_df

stock_df['Diff'] = stock_df['CLOSE'] - stock_df['OPEN']
output_name = os.path.join(dirpath, stock + '.csv')
stock_df.to_csv(output_name)
stock_df

    TRADEDATE  Name    Open   Close  Diff
0  2023-10-10  YNDX  2477.6  2463.2 -14.4

In [39]:
temp_df

    tradedate ticker  pr_open  pr_close
0  2023-10-10   YNDX   2477.6    2482.6

In [13]:
example = pd.read_csv('MOEX/YNDX_diff.csv')
example

       TRADEDATE  Name   Close  Diff
0     2017-11-21  YNDX  2038.0  37.0
1     2017-11-22  YNDX  1975.0 -55.0
2     2017-11-23  YNDX  1987.5   7.0
3     2017-11-24  YNDX  2025.0  43.5
4     2017-11-27  YNDX  2017.0 -16.0
...          ...   ...     ...   ...
1243  2022-11-14  YNDX  2132.4  10.2
1244  2022-11-15  YNDX  2071.6 -68.4
1245  2022-11-16  YNDX  2114.2  25.2
1246  2022-11-17  YNDX  2097.8 -22.2
1247  2022-11-18  YNDX  2098.2   1.2

[1248 rows x 4 columns]

In [35]:
temp_df = stock_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].head(1)
temp_df['pr_open'] = (
    stock_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].head(1)['pr_open'].to_list()[0])
temp_df['pr_close'] = (
    stock_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].tail(1)['pr_close'].to_list()[0])
temp_df

    tradedate ticker  pr_open  pr_close
0  2023-10-10   YNDX   2477.6    2482.6

In [33]:
stock_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].tail(1)['pr_close'].to_list()[0]

2482.6

In [74]:
now = datetime.now()
stock = 'YNDX'
end_time = now - timedelta(days=1)
start_time = end_time - timedelta(days=7)
print(stock, start_time.date(), end_time.date())

YNDX 2023-12-02 2023-12-09

In [ ]:
data_df = (
        Ticker('YNDX')
        .tradestats(date=str((time_i - timedelta(days=1)).date()), till_date=str(time_i.date()))
    )

data_df

In [ ]:
output_df = pd.DataFrame(columns=['TRADEDATE', 'Name', 'Open', 'Close', 'Diff'])

time_i = start_time
while time_i != end_time:
    
    try:
        data_df = (
            Ticker('YNDX')
            .tradestats(date=str((time_i - timedelta(days=1)).date()), till_date=str(time_i.date()))
        )

        temp_df = (
            data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']].head(1))
        temp_df['pr_open'] = (
            data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']]
            .head(1)['pr_open'].to_list()[0])
        temp_df['pr_close'] = (
            data_df.iloc[[0, stock_df.shape[0] - 1]][['tradedate', 'ticker', 'pr_open', 'pr_close']]
            .tail(1)['pr_close'].to_list()[0])

        stock_df = temp_df.rename({'tradedate': 'TRADEDATE', 'ticker': 'Name', 'pr_open':'Open', 'pr_close': 'Close'}, axis=1)
        stock_df['Diff'] = stock_df['Close'] - stock_df['Open']

        output_df = pd.concat([output_df, stock_df], ignore_index=True)
        
    except:
        print('Something went wrong for', str((time_i - timedelta(days=1)).date()), str(time_i.date()))
        
    time_i = time_i + timedelta(days=1)
    
# output_name = os.path.join(dirpath, stock + '.csv')
output_name = 'YNDX.csv'
stock_df.to_csv(output_name)

    TRADEDATE  Name    Open   Close  Diff
0  2023-10-10  YNDX  2477.6  2463.2 -14.4

In [ ]:
stock_df = pdr_moex.MoexReader(stock, start_time, end_time).read()
stock_df['Name'] = stock
stock_df['Diff'] = stock_df['CLOSE'] - stock_df['OPEN']
stock_df.drop(['ACCINT', 'ADMITTEDQUOTE', 'ADMITTEDVALUE', 'BEICLOSE', 'BID',
               'BOARDID', 'BOARDNAME', 'BUYBACKDATE', 'CBRCLOSE',
               'CLOSEAUCTIONPRICE', 'CLOSEPERIOD', 'CLOSEVAL', 'COUPONPERCENT',
               'COUPONVALUE', 'CURRENCYID', 'DAILYCAPITALIZATION', 'DECIMALS',
               'DURATION', 'FACEUNIT', 'FACEVALUE', 'HIGH', 'HIGHBID', 'IRICPICLOSE',
               'ISIN', 'ISSUESIZE', 'LASTPRICE', 'LASTTRADEDATE', 'LEGALCLOSEPRICE',
               'LEGALOPENPRICE', 'LISTNAME', 'LOW', 'LOWOFFER', 'MARKETPRICE',
               'MARKETPRICE2', 'MARKETPRICE3', 'MARKETPRICE3CUR',
               'MARKETPRICE3TRADESVALUE', 'MARKETPRICE3TRADESVALUECUR', 'MATDATE',
               'MONTHLYCAPITALIZATION', 'MP2VALTRD', 'MPVALTRD', 'NUMBID', 'NUMOFFER',
               'NUMTRADES', 'OFFER', 'OFFERDATE', 'OPEN', 'OPENPERIOD', 'OPENVAL',
               'PREV', 'PREVLEGALCLOSEPRICE', 'REGNUMBER', 'SECID', 'SHORTNAME',
               'TRADINGSESSION', 'TRENDCLOSE', 'TRENDCLSPR', 'TRENDWAP', 'TRENDWAPPR',
               'TYPE', 'VALUE', 'VOLUME', 'WAPRICE', 'WAVAL', 'YIELDATWAP',
               'YIELDCLOSE', 'YIELDLASTCOUPON', 'YIELDTOOFFER'], axis=1, inplace=True)
stock_df.rename(columns={'CLOSE': 'Close'}, inplace=True)
cols = stock_df.columns.tolist()
cols = [cols[0], cols[2]]
stock_df = stock_df[cols]
output_name = os.path.join(dirpath, stock + '.csv')
stock_df.to_csv(output_name)